    div.featuredLuxuriesProperties{
        border-bottom: 6px solid transparent; /* Set the border width and make it transparent */
        border-image: radial-gradient(
          circle,
          rgba(255, 236, 224, 1) 0%,
          rgba(240, 202, 178, 1) 35%,
          rgba(172, 131, 109, 1) 100%
        );
        border-image-slice: 1;
        overflow-x: hidden;
        h2.mainHeading{
            margin-bottom: 60px;
        }
        ul.tabs{
            display: flex;
            width: 40%;
            margin: 0 auto 50px;
            justify-content: space-between;
            margin-top: 20px;
            li.tab{
                text-transform: uppercase;
                color: var(--text-color);
                font-weight: 300;
                &.active{
                    font-weight:400 ;
                    padding-bottom: 6px;
                    border-bottom: 1px solid #fff;
                }
                span{
                    @include adjust-font(14px, false);
                }
            }
        }
      
    }